.calc{
  width: 320px;
  margin: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.calcul{
  text-align: center;
  margin: 50px auto;
  font-size: 40px;
  color: rgb(128, 50, 34);
}
#answer{
  background: color #e2e2e2; 
  padding: 10px;
  font-size:35px ;
  width: 294px;
  height: 45px;
  text-align: right;
  border: 3px solid #333;
}
.button:hover{
  background-color:rgb(154, 150, 150);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}
.button{
  background-color: #333;
  height: 80px;
  width: 80px;
  color: white;
  font-size: 30px;
  border: 1px solid black;
  float: left;


}
.button1{
  width: 120px;

}